@import '../../../sass/mixin.scss';
@import '../../../sass/variable.scss';

.card {
    @include cardContainer;
    .thumbnailContainer{
        position: relative;
        .divContainer{
            background-color: #0000005d;
            position: absolute;
            z-index: 100;
            padding-left: 5px;
            padding-right: 5px;
        }
        .duration{
            top: 8px;
            left: 12px;
        }
        .viewCount{
            bottom: 8px;
            left: 12px;
        }
        .thumbnail {
            position: relative;
            &:hover {
                @include hoverTransition($color-live);
            }
        }
    }
    .title{
        max-width: 315px;
        @include titleStyle(black)
    }
}